body {
    background-color: #222;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    gap: 5px;
    background-color: #222;
    justify-content: center;
}

/* .container > div {
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 30px;
    border: 1px solid black;
    justify-self: center;
    text-align: center;
} */
.container > div {
    margin: 5px;
    padding: 0;
    border: 1px solid black;
    justify-self: center;
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: robik, sans-serif;
    background-color: gray;
}

.container .rollTotal {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
}

.container .roll {
    font-size: 0.9em;
    color: #222;
    margin: 0.3em 0 0 0;
    font-weight: normal;
}

.container > div > p {
    margin: 0;
    padding: 0;
}

.container > div > button {
    bottom: 5px;
    font-size: 0.8em;
    padding: 5px;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > button {
    padding: 10px;
    text-align: center;
    background-color: gray;
}