body {
    background-color: #222;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    gap: 5px;
    background-color: #222;
    justify-content: center;
}

.container .rollBox {
    margin: 5px;
    padding: 0;
    border: 1px solid black;
    justify-self: center;
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: robik, sans-serif;
    background-color: gray;
}

.container .rollTotal {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
}

.container .totalBox {
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    border: 1px solid black;
    justify-self: center;
    text-align: center;
    width: 100px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: robik, sans-serif;
    background-color: gray;
}

.container .totalBoxMute {
    margin: 0px !important;
    padding: 0 !important;
    border: 0px !important;
    justify-self: center !important;
    text-align: center !important;
    width: 0px !important;
    height: 0px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    font-family: robik, sans-serif !important;
    background-color: lightgray !important;
}

.container .roll {
    font-size: 0.9em;
    color: #222;
    margin: 0.3em 0 0 0;
    font-weight: normal;
}

.container > div > p {
    margin: 0;
    padding: 0;
}

/*.container > div > .statsTotal {
    position: relative;
    left: 120px;
    height: 0px;
    color: gray;
} */

.container > div > button {
    bottom: 5px;
    font-size: 0.8em;
    padding: 5px;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > button {
    padding: 10px;
    text-align: center;
    background-color: gray;
}